<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Current Count : @this.CurrentCount</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-danger" @onclick="this.OnIncrement">Increment</button>
        </div>
    </div>
</div>